.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  position: relative;
}

.App-header {
  background-color: white;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #444444;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  padding: 10px;
  padding-bottom: 40px
}