.flex-container-browser {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.flex-container-browser > div {
    width: 500px;
    margin: 50px;
    height: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #444444;
    font-size: 20px;
}

#smile {
    color: #eda1aa;
}

#extension {
    width: 500px;
}

.browser {
    font-weight: 400;
    padding: 0px 0px 10px;
}