#monthly {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding: 25px 10%;
}

#cause {
    color: #eda1aa;
}

#bold {
    font-weight: 600;
}

.flex-container-cause {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.flex-container-cause > div {
    border: 2px dotted #d0cfcf;
    width: 500px;
    margin: 20px;
    height: 300px;
    text-align: center;
    color: #444444;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}