.dashboardBar {
	background-color: #444444;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.dashboardLogo {
	align-self: center;
	position: fixed;
	display: flex;
	left: 10px;
	align-items: center;
	justify-content: center;
}

a.dashboardLogo {
	color: white;
}

a.dashboardLogo:hover {
	color: white;
	text-decoration: none;
}

.dashboardIcon {
	margin-right: 8px;
}

.dashboardSoulsmile {
	font-size: 20px;
}

.tabs {
	max-width: 100vw;
}