.authorPhoto {
	width: 50px;
    min-height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.picAndDonationContainer {
	display: flex;
	align-items: start;
	justify-content: start;
	flex-direction: row;
	margin: 30px 25px;
}

.donationContainer {
	display: flex;
	align-items: start;
	flex-direction: column;
}

.donationPostTime {
	font-size: 12px;
	margin-bottom: 10px;
}

.donationPost {
	text-align: left;
	width: 600px;
}

.postDivider {
	width: 85%;
	margin: auto;
	text-align: center;
}

.likesBar {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
	font-size: 18px;
}

#heartIcon {
	margin-right: 5px;
	padding-bottom: 2px;
}

#heartWrapper {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}