.App-header-home {
    padding: 3% 100px;
    background-color: white;
    min-height: 75vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(5px + 2vmin);
    color: #444444;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1000px) {
    .App-header-home {
      flex-direction: column;
      min-height: 50vh;
      padding: 0px;
    }
  }

.App-logo-home {
    height: 40vmin;
    pointer-events: none;
}

#disclosure {
    font-size: calc(1px + 2vmin);
    margin: 2% 10% 2% 10%;
}
  
#smile {
    color: #eda1aa;
}
  
.subtitle-home {
    padding: 20px 0px;
    font-size: 4vmin;
}


#slogan {
    padding: 0px 80px;
    text-align: left;
    font-size: 5vmin;
}

#home-story-header {
    padding: 20px 0px;
}

.explanation {
    font-size: 14px;
}

.stepHome {
    font-size: 28px;
    font-weight: bold;
}

.flex-container-how-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .flex-container-how-home {
      flex-direction: column;
    }
  }
  
.flex-container-how-home > div {
    background-color: #f1f1f1;
    width: 300px;
    margin: 20px;
    height: 300px;
    text-align: left;
    color: #444444;
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
}

.numberCircleSmallHome {
    width: 25px;
    height: 25px;
    padding: 5px;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    justify-content: center;
}

.flex-container-how-home > div:nth-child(1) {
    background: #eda1aa;
    color: #444444;
}

.flex-container-how-home > div:nth-child(2) {
    background: #dcedff;
    color: #444444;
}

.flex-container-how-home > div:nth-child(3) {
    background: #3A435E;
    color: white;
}

.feel-impact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-top: 80px;
}

.feel-impact-description {
    display: flex;
    flex-direction: column;    
    text-align: left;
    padding-left: 100px;
}

.feel-impact-description > h3 {
    font-weight: bold;
    padding-bottom: 20px;
}

.feel-impact-description > h3 {
    font-size: 32px;
}

.feel-impact > img {
    padding-left: 100px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .feel-impact {
        display: flex;
        flex-direction: column;
    }

    .feel-impact-description {
        display: flex;
        flex-direction: column;    
        text-align: left;
        padding-left: 25px;
    }
    
    .feel-impact > img {
        padding-left: 0px;
    }
  }