.App-header-home {
    padding: 3% 0px;
    background-color: white;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(5px + 2vmin);
    color: #444444;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .App-header-home {
      flex-direction: column;
    }
  }

.App-logo {
    height: 50vmin;
    pointer-events: none;
}

#disclosure {
    font-size: calc(1px + 2vmin);
    margin: 2% 10% 2% 10%;
}
  
#smile {
    color: #eda1aa;
}
  
.subtitle-home {
    padding: 20px 0px;
    font-size: 4vmin;
}

#emphasize {
    font-style: italic;
}

#slogan {
    padding: 0px 80px;
    text-align: left;
    font-size: 5vmin;
}

#home-story-header {
    padding: 20px 0px;
}
