.App-header-home {
    padding: 2.5% 0px;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: #444444;
}

.App-logo {
    height: 30vmin;
    pointer-events: none;
}

#disclosure {
    font-size: calc(1px + 2vmin);
    margin: 2% 10% 2% 10%;
}
  
#smile {
    color: #eda1aa;
}
  
#subtitle {
    font-style: italic;
}

#slogan {
    padding-top: 5px;
}