.flex-container-how {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
  
.flex-container-how > div {
    background-color: #f1f1f1;
    width: 300px;
    margin: 20px;
    height: 300px;
    text-align: center;
    color: #444444;
    font-size: 20px;
    padding: 10px;
}

#smile {
    color: #eda1aa;
}

.numberCircleSmall {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 5px;
    display: inline-flex;
    background: #eda1aa;
    border: 2px solid #eda1aa;
    color: white;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    justify-content: center;

}

.step {
    font-size: 16px;
}
  
#subtitle {
    font-style: italic;
    padding-bottom: 25px;
}

#slogan {
    padding-top: 25px;
}

a:link, a:visited {
    color: #eda1aa;
    text-decoration: none; 
}

a:hover, a:active {
    color: #444444;
}