.instruction {
    padding: 10px 10%;
    font-weight: 400;
    text-align: left;
}

.example {
    width: 75%;
    padding: 10px 0px;
}

.yay {
    text-align: center;
}

.numberCircleLarge {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    padding: 5px;
    display: inline-flex;
    background: #eda1aa;
    border: 2px solid #eda1aa;
    color: white;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    justify-content: center;
}