.white {
	color: white;
}

.loginBar {
	min-height: 8vh;
	background-color: #444444;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.loginButtonsContainer {
	background-color: #444444;
	min-height: 92vh;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}