.Login {
	background-color: #444444;
	color: white;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.white {
	color: white;
}

.loginBar {
	min-height: 8vmin;
	background-color: #444444;
	color: white;
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	left: 0;
}