#cancelButton {
	z-index: 2147483647;
}

#payPalButtons {
	display: flex;
	flex-direction: column;
}

.paymentContent {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	min-height: 100vh;
}