hr {
    margin: 0px 100px;
    padding: 10px 0px;
}

#smile, #note {
    color: #eda1aa;
}

#problem {
    font-size: 20px;
    padding: 25px 100px;
}

#bold {
    font-weight: 600;
}

.underline {
    text-decoration: underline;
}

.privacy {
    text-align: left;
    margin: 0px 100px;  
}

#bold-important {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
}

#info {
    font-size: 16px;
    line-height: 30px;
}

ul {
    line-height: 30px;
}

.heading {
    padding: 15px 0px;
}