.smileageQuestion {
	font-size: 20px;
	padding: 2% 0;
}

.smileageNote {
	font-size: 13px;
	color: #eda1aa;
	padding: 0 1%;
}

.checkboxContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

.amount {
    width: 275px;
    padding: 12px 8px;
    margin: 20px 0 0px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}