.navbar {
    min-height: 10vmin;
    background-color: white;
}

.navbar #basic-navbar-nav>li>a {
    color: #444444;
}

.logo {
    font-weight: 500;
}

#login-button {
	color: #eda1aa;
}

#login-button:hover {
	color: #444444;
}