#smile, #note {
    color: #eda1aa;
}

#problem {
    font-size: 20px;
    padding: 1% 10%;
}

#bold {
    font-weight: 600;
}

.underline {
    text-decoration: underline;
}

.flex-container-who {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 1% 10%;
}

#title {
    font-size: 35px;
    align-items: center;
    justify-content: center;
}

#subtitle {
    padding-top: 30px;
}

iframe {
	max-width: 100%;
	height: auto;
}