.WebApp {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  position: relative;
  background-color: #f1f1f1;
  color: #444444;
}

.WebApp-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #444444;
}
